rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra Global: Apenas o dono pode ver/editar seus próprios dados
    match /transactions/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /goals/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
